<div class='container'>
	<table  class='table'>
	<thead>
		<tr>
			<th>Id</th>
			<th>studentId</th>
		    <th>Name</th>
		    <th>Birth</th>
		    <th>Class</th>
		    <th>Year</th>
		    <th>Quarter</th>
		    <th>Math</th>
		    <th>Computer</th>
		    <th>Literature</th>
		</tr>
	</thead>
	<tbody>
		<tr>
		<td>
			{{model.id}}
		  </td>
		  <td>
			{{model.studentid}}
		  </td>
		  <td>
			{{model.name}}
		  </td>
		  <td>
			{{model.birth}}
		  </td>
		  <td>
			{{model.stclass}}
		  </td>
		  <td>
			{{model.Year}} 
		  </td>
		  <td> 
			{{model.Quarter}}
		 </td>
		 <td>
			{{model.math}}
		</td>
		<td>
			{{model.computer}}
		</td>
		<td>
			{{model.literature}}  	
		</td>
		</tr>
	</tbody>
	</table>
	{{outlet}}
</div>

